* {
  box-sizing: border-box;
  color: var(--text-black);
}
body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: var(--primary-color-brand-01);
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.container {
  max-width: 100%;
}
