.about-us > div {
  flex-direction: column;
  position: relative;
}

.who-we-are {
  display: flex;
  position: relative;
  height: 130px;
  margin-top: 40px;
}
.who-we-are .title {
  width: 160px;
  text-transform: capitalize;
  border-right: 2px solid var(--supplementary-color-ui-01);
  display: flex;
  justify-content: center;
  align-items: center;
}
.who-we-are .title h2 {
  margin-right: 20px;
}
.who-we-are .description {
  width: 60%;
  max-width: 750px;
  margin-left: 20px;
}
.who-we-are .description p {
  margin-inline: 20px;
  font-size: 1.1rem;
}
.who-we-are article {
  background-image: url("./../assets/images/others/fireHand.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 150px;
  position: absolute;
  z-index: 0;
  top: -110px;
  right: 0;
  width: 24%;
  max-width: 300px;
  background-color: var(--primary-color-brand-03);
  color: var(--text-inverse);
}
.who-we-are article p {
  padding: 30px 25px;
  margin: 0;
  font-size: 1.35rem;
  font-weight: 300;
}
.who-we-are article button {
  background-color: transparent;
  color: var(--text-inverse);
  padding: 0px 25px 30px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  border: 0;
  cursor: pointer;
}

.about-us figure {
  margin: 0;
  margin-top: 80px;
  display: flex;
  height: 550px;
  align-items: center;
  justify-content: space-between;
}
.about-us figure > figcaption {
  width: 500px;
  height: 400px;
  background-color: var(--supplementary-color-ui-01);
  position: relative;
  z-index: 1;
}
.about-us figure > figcaption > div {
  flex-direction: column;
  padding: 60px;
  gap: 40px;
}

.about-us figure > figcaption p {
  color: var(--primary-color-brand-01);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}
.about-us figure > figcaption p.video-title {
  color: var(--text-black);
  font-size: 2rem;
  text-transform: capitalize;
}
.about-us figure > figcaption p.video-brief {
  color: var(--text-black);
  font-size: 1rem;
  font-weight: 400;
}
iframe {
  position: absolute;
  z-index: 0;
  right: 20px;
}
