footer {
  background-color: var(--primary-color-brand-01);
}
footer * {
  color: var(--text-inverse);
  text-transform: capitalize;
}
footer > div {
  flex-direction: column;
}
.main-footer {
  display: flex;
  font-weight: 300;
  justify-content: space-between;
  margin-top: 20px;
}

.main-footer .side-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-footer .logo {
  max-width: 80%;
  margin-top: 15px;
}
.main-footer address {
  font-style: normal;
  font-size: 0.85rem;
}
.main-footer .side-info-nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-footer .side-info a {
  font-size: 0.95rem;
  font-weight: 450;
}
.main-footer .side-info a i {
  margin-left: 5px;
}
.footer-list h4 {
  font-weight: 400;
  position: relative;
  margin-block: 20px;
}
.footer-list h4::after {
  content: "";
  width: 30px;
  position: absolute;
  border-bottom: 0.15rem solid;
  bottom: -5px;
  left: 0;
}
.footer-list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-list ul li {
  font-size: 0.85rem;
}
.footer-list ul li a {
  display: inline-block;
  width: 100%;
}
footer a:hover {
  color: var(--text-inverse);
}
.icons {
  display: flex;
  justify-content: space-between;
  gap: 12.5px;
}
.icons a {
  display: inline;
  font-size: 1.85rem;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--text-inverse);
  margin-top: 70px;
}
.copyright * {
  font-size: 0.8rem;
  font-weight: 300;
}
.copyright-links a {
  margin-inline: 10px;
}
.copyright-links a:nth-child(1) {
  margin-left: 0;
}
.copyright-links a:nth-child(2)::before {
  content: "";
  position: relative;
  display: inline-block;
  height: 15px;
  left: -10px;
  top: 2px;
  border-left: 1px solid var(--text-inverse);
}

.copyright .mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .copyright .mobile {
    display: flex;
  }
  .footer-list h4 {
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  .main-footer {
    flex-direction: column;
  }
  .main-footer .logo {
    max-width: 50%;
  }
  .main-footer .side-info-nav {
    flex-direction: row;
    margin-bottom: 30px;
  }
  .side-info {
    position: relative;
    border-bottom: 1px solid var(--text-inverse);
    width: calc(100% + 20px);
    left: -10px;
    padding-inline: 10px;
  }

  .footer-list {
    border-bottom: 1px solid var(--text-inverse);
    width: calc(100% + 20px);
    position: relative;
    left: -10px;
    padding-inline: 10px;
  }
  .footer-list h4 {
    justify-content: space-between;
  }
  .footer-list h4::after {
    display: none;
  }
  .copyright {
    border-top: 0;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 35px;
    gap: 10px;
  }
  .icons.hide-mobile {
    display: none;
  }
  .icons i {
    font-size: 2.5rem;
  }
  .copyright-links {
    margin-top: 20px;
  }
  .copyright-year {
    order: 2;
    margin-bottom: 20px;
  }

  .footer-list > ul {
    max-height: 0;
    margin: 0;
    overflow: hidden;
    transition: 2s max-height, 3s margin;
  }

  .footer-list > input:checked ~ ul {
    margin: 16px;
    max-height: 200px; /* Set this to a value that is large enough for the content */
  }
  .footer-list > label > h4 > i {
    transition: 1s transform;
  }
  .footer-list > input:checked ~ label > h4 > i {
    transform: rotate(180deg);
  }
}
