.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 5px solid var(--primary-color-brand-03);
}

.notification-bar {
  background-color: var(--supplementary-color-ui-01);
}

.notification-bar > div {
  justify-content: center;
  font-size: 0.9375rem;
  gap: 15px;
}

.notification-bar a,
.notification-bar a:visited,
.notification-bar a:hover {
  color: var(--text-black);
  font-weight: 700;
}

.notification-bar p {
  margin: 0;
}

.utility-menu {
  background-image: linear-gradient(var(--supplementary-color-ui-01-50), white);
}

.utility-menu > div {
  padding-block: 10px;
  justify-content: flex-end;
  font-size: 0.875rem;
  color: var(--primary-color-brand-01);
  font-weight: 600;
}
.utility-menu a {
  padding-inline: 20px;
}
.main-content {
  box-shadow: 0 0 8px 0 var(--drop-shadow-primary);
}

.main-content > div {
  min-height: 105px;
  justify-content: space-between;
  position: relative;
}

#xng-logo-header {
  width: 185px;
  height: auto;
  margin-right: 40px;
  padding-top: 10px;
}

.logo-link {
  display: flex;
  align-items: center;
}

#search {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  height: min-content;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  padding: 35px 20px 18px;
  border: 0;
  gap: 10px;
  color: var(--primary-color-brand-01);
}
/* This for draw the small line under the button */
#search span {
  position: relative;
  transition: border-color 1s;
}
#search span::before {
  content: " ";
  width: 30px;
  position: absolute;
  border-bottom: 0.15rem solid transparent;
  bottom: -10px;
  left: 0;
  transition: border-color 1s;
}
#search:hover span::before {
  border-color: var(--primary-color-brand-01);
}
/* ------- ends here  -------- */
#search i {
  font-size: 1rem;
  cursor: pointer;
}

#search:hover {
  border-color: var(--primary-color-brand-01);
  cursor: pointer;
}
#burger-menu-check:checked ~ #overlay {
  display: flex;
}
#burger-menu-check:checked ~ .main-content-menu {
  left: 0%;
}
@media screen and (max-width: 950px) {
  .hide-mobile {
    display: none;
  }

  .notification-bar > div {
    flex-direction: column;
    gap: 0;
    text-align: center;
    font-size: 0.875rem;
  }
  .utility-menu {
    background-color: var(--support-color-five);
    background-image: none;
    height: calc(30vh - 65px);
    min-height: 120px;
    max-height: 230px;
    z-index: 1;
  }
  .utility-menu > div {
    flex-direction: column;
    padding: 0;
    gap: 0;
    font-size: 0.8125rem;
    text-transform: capitalize;
  }

  .utility-menu a {
    border-bottom: 2px solid transparent;
    height: 63px;
    display: flex;
    align-items: center;
  }

  .main-content > div {
    min-height: 70px;
    align-items: center;
  }

  #burger-menu {
    font-size: 1.5625rem;
    color: var(--primary-color-brand-01);
    cursor: pointer;
    transition: transform 2s;
  }

  #burger-menu:hover {
    transform: rotate(180deg);
  }

  #xng-logo-header {
    padding: 0;
    margin: 0;
    width: 165px;
  }

  #search {
    padding-block: 0;
    padding: 0;
  }

  #search i {
    font-size: 1.4625rem;
  }
}
