.mobile {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 5px solid var(--primary-color-brand-03);
}

.notification-bar {
  background-color: var(--supplementary-color-ui-01);
}

.notification-bar > div {
  justify-content: center;
  font-size: 0.9375rem;
  gap: 15px;
}

.notification-bar a,
.notification-bar a:visited,
.notification-bar a:hover {
  color: var(--text-black);
  font-weight: 700;
}

.notification-bar p {
  margin: 0;
}

.utility-menu {
  background-image: linear-gradient(var(--supplementary-color-ui-01-50), white);
}

.utility-menu > div {
  padding-block: 10px;
  justify-content: flex-end;
  font-size: 0.875rem;
  color: var(--primary-color-brand-01);
  font-weight: 600;
}
.utility-menu a{
  padding-inline: 20px;
}
.main-content {
  box-shadow: 0 0 8px 0 var(--drop-shadow-primary);
}

.main-content > div {
  min-height: 105px;
  justify-content: space-between;
}

#xng-logo-header {
  width: 185px;
  height: auto;
  margin-right: 40px;
  padding-top: 10px;
}

.logo-link {
  display: flex;
  align-items: center;
}

.main-content-menu ul {
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main-content-menu a {
  padding: 35px 20px 18px;
  color: var(--primary-color-brand-01);
  font-weight: 700;
  transition: border-bottom 1s;
  border-bottom: 2px solid transparent;
}

.main-content-menu a:hover {
  border-color:var(--primary-color-brand-01);
}
#burger-menu-check{
  margin: 0; 
  height: 0;
  width: 0;
  visibility: hidden; 
  position: absolute;
}
#search {
  height: min-content;
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  transition: border-bottom 1s;
  padding: 35px 20px 18px;
  border: 0;
  border-bottom: 2px solid transparent;
  gap: 10px;
  color: var(--primary-color-brand-01);

}

#search p {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
}

#search i {
  font-size: 1rem;
  cursor: pointer;
}

#search:hover {
  border-color:var(--primary-color-brand-01);
  cursor: pointer;
}
#burger-menu-check:checked ~ .main-content-menu  {
  display: flex;
}


@media screen and (max-width: 900px) {
  .hide-mobile {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .notification-bar > div {
    flex-direction: column;
    gap: 0;
    text-align: center;
    font-size: 0.875rem;
  }
  .utility-menu{
    background-color: var(--support-color-five);
    background-image: none;
  }
  .utility-menu > div {
    flex-direction: column;
    padding: 0;
    gap: 0;
    font-size: 0.8125rem;
    text-transform: capitalize;
  }

  .utility-menu a {
    border-bottom: 2px solid transparent;
    height: 63px;
    display: flex;
    align-items: center;
  }

  .main-content > div {
    min-height: 70px;
    align-items: center;
  }

  #burger-menu {
    font-size: 1.5625rem;
    color: var(--primary-color-brand-01);
    cursor: pointer;
    transition: transform 2s;
  }

  #burger-menu:hover {
    transform: rotate(180deg);
  }
  
  .main-content-menu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 90%;
  }
  .menu-header{
    height: 65px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--primary-color-brand-03);
  }
  .menu-header i{
    font-size: 1.5625rem;
    color: var(--primary-color-brand-01);
    margin-left: 20px;
    cursor: pointer;
  }
  .main-content-menu ul{
    display: flex;
    flex-direction: column;
    height: 455px;
 }
 .main-content-menu a{
  padding: 20px;
 }
 .main-content li{
  display: flex;
  justify-content: space-between;
 }

  #xng-logo-header {
    padding: 0;
    margin: 0;
    width: 165px;
  }

  #search {
    padding-block: 0;
    padding: 0;
  }

  #search i {
    font-size: 1.4625rem;
  }
}
