.main-content-menu ul {
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main-content-menu li {
  padding: 35px 20px 18px;
  color: var(--primary-color-brand-01);
  font-weight: 700;
}

/* This is for drawing the small line on hover on the menu list */
.main-content-menu > ul > li > a {
  position: relative;
}
.main-content-menu > ul > li > a::before {
  content: " ";
  width: 30px;
  position: absolute;
  border-bottom: 0.15rem solid transparent;
  bottom: -10px;
  left: 0;
  transition: border-color 1s;
}
.main-content-menu > ul > li:hover > a::before {
  border-color: var(--primary-color-brand-01);
}
/* ------ end ------*/
.main-content-menu ul li::before {
  content: "";
  height: 50px;
  width: 150px;
  background-color: transparent;
  position: absolute;
  top: calc(100% - 30px);
}

.menu-items {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: calc(100% + 5px); /* 5px is boreder size*/
  left: 0;
  background-color: var(--text-inverse);
  width: 100%;
  height: 480px;
  transition: 1s opacity;
}
.menu-items > div {
  padding-block: 0;
  position: relative;
}
.sup-menu {
  position: absolute;
  padding-block: 20px;
  width: 95%;
  height: 480px;
  border-left: 2px solid var(--supplementary-color-ui-01);
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: 1s opacity;
}

.menu-items ul {
  display: flex;
  flex-direction: column;
}
.menu-items ul li {
  border: 0;
  font-size: 1rem;
  text-transform: capitalize;
}

.menu-items ul li:hover > a {
  color: var(--primary-color-brand-02);
}

.menu-items .figure {
  margin-left: auto;
  width: 440px;
  background-color: var(--support-color-five);
  z-index: 1;
}
.menu-items .figure figure {
  margin: 0;
}
.menu-items .figure figcaption {
  font-size: 2.25rem;
  font-weight: 900;
  color: var(--primary-color-brand-01);
  text-transform: none;
  padding: 35px 25px;
}
.menu-items .figure a {
  color: var(--primary-color-brand-02);
  border: 0;
  padding-left: 30px;
  padding-top: 10px;
  text-transform: capitalize;
}

.menu-items figure img {
  width: 440px;
  height: 300px;
}
.menu-items li {
  padding: 10px 20px 10px;
}

@media screen and (min-width: 900px) {
  .main-content-menu li#products:hover .menu-items {
    visibility: visible;
    opacity: 1;
  }
  .main-content-menu li#products:hover .menu-items-lvl1,
  #boilers:hover .sup-menu.menu-items-lvl2,
  #firetube:hover .sup-menu.menu-items-lvl3 {
    visibility: visible;
    opacity: 1;
  }
  .sup-menu.menu-items-lvl1 {
    width: calc(100% - 440px);
    left: 0;
  }
  .sup-menu.menu-items-lvl2 {
    left: 33%;
    width: 66%;
  }
  .sup-menu.menu-items-lvl3 {
    left: 50%;
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .main-content-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    top: 0;
    left: -90%;
    background-color: white;
    width: 90%;
    transition: 1s left;
    z-index: 3;
  }
  .menu-header {
    height: 65px;
    min-height: 65px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--primary-color-brand-03);
  }
  .menu-header i {
    font-size: 1.5625rem;
    color: var(--primary-color-brand-01);
    margin-left: 20px;
    cursor: pointer;
  }
  .main-content-menu ul li::before {
    display: none;
  }
  .main-content-menu ul {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    flex-wrap: nowrap;
  }
  .main-content-menu li {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .main-content-menu li a {
    padding: 20px;
    height: 100%;
  }
  .main-content-menu li > label {
    padding: 0;
    border: 0;
    background-color: transparent;
    transition: 1s background-color, 1s color;
  }
  .main-content-menu li > label > i {
    padding: 23px;
    font-size: large;
  }
  .main-content-menu li > label:hover {
    background-color: var(--primary-color-brand-01);
    color: var(--text-inverse);
  }
  .menu-items {
    display: flex;
  }
  .menu-items > div {
    padding: 0;
  }
  .sup-menu-header {
    display: flex;
    gap: 20px;
    padding: 10px;
    height: min-content;
    width: 100%;
  }
  .sup-menu-header:hover {
    color: var(--text-inverse);
    background-color: var(--primary-color-brand-01);
  }
  #sup-menu-check:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
    top: 65px;
    z-index: 1;
  }
  #sup-menu-check:checked ~ .menu-items .menu-items-lvl1 {
    visibility: visible;
    opacity: 1;
    top: 40px;
    padding: 0;
    width: 100%;
  }
  .menu-items-lvl1 {
    border: 0;
    height: calc(80vh - 100px);
    background-color: white;
  }

  .menu-items-lvl1 > ul {
    width: 100%;
    height: calc(80vh - 100px);
  }
  #sup-menu-lvl2-check:checked ~ .menu-items-lvl2 {
    visibility: visible;
    opacity: 1;
  }
  .menu-items-lvl2 {
    left: 0;
    top: 0;
    background-color: white;
    border: 0;
    padding: 0;
    width: 100%;
    height: calc(80vh - 100px);
  }
  .menu-items-lvl2 > ul {
    height: calc(80vh - 100px);
  }

  .sup-menu.menu-items-lvl3 {
    display: none;
  }
}
