.recent-news > div {
  flex-direction: column;
  align-items: center;
}
.recent-news .title h2 {
  margin-bottom: 0;
}
.news-card a {
  color: var(--text-black);
}
.all-news {
  display: flex;
  flex-direction: column;
  position: relative;
}

#view-all-news {
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 20px;
  width: max-content;
  background-color: transparent;
  border: 0;
  color: var(--primary-color-brand-02);
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 500;
}

#view-all-news i {
  margin-left: 5px;
}
.news-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  gap: 50px;
}
.news-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.news-description .news-title {
  font-size: 1.3rem;
  font-weight: 450;
}
.news-description .news-brief {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.95rem;
  color: var(--text-black);
}
.news-description .news-link {
  text-transform: capitalize;
  display: inline-block;
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--primary-color-brand-01);
  margin-top: 20px;
}
.news-description a > i {
  margin-left: 5px;
}
@media screen and (max-width: 950px) {
  #news-card-3 {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  #news-card-2 {
    display: none;
  }
}
