.solutions > div {
  flex-direction: column;
  align-items: center;
}

.solution {
  display: flex;
  gap: 20px;
  align-items: center;
}
.solution-info {
  display: flex;
  flex-direction: column;
}
.solution-info p {
  margin: 0;
  margin-bottom: 20px;
  color: var(--text-black);
}
.solution-info a {
  width: max-content;
}
.solution-info a .solution-title {
  color: var(--primary-color-brand-02);
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  font-size: 1rem;
  width: max-content;
}
.solution-info .solution-title::before {
  content: " ";
  width: 30px;
  position: absolute;
  border-bottom: 0.15rem solid #82786f;
  bottom: -5px;
  left: 0;
}
.solution-info .solution-brief {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 500;
}
.solution-image {
  max-width: 800px;
  min-width: 65%;
}
.solution-image img {
  width: 100%;
  height: 410px;
  object-fit: cover;
}
.solution-info a {
  text-align: start;
  background-color: transparent;
  border: 0;
  color: var(--primary-color-brand-01);
  text-transform: capitalize;
  font-size: 1.15rem;
  font-weight: 500;
  padding: 0;
  margin-top: 20px;
}
.solution-info a i {
  margin-left: 10px;
}
.custom-solution {
  margin-top: 60px;
}
p.solution-description {
  font-size: 0.95rem;
  color: rgb(0, 0, 0, 0.85);
}
@media screen and (max-width: 950px) {
  .solution {
    flex-direction: column;
  }
  .solution-image {
    display: flex;
    justify-content: center;
    order: 2;
  }
  .solution-image img {
    width: 80vw;
    object-fit: cover;
  }
}
