.video-presentation > div {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 590px;
}
.video-presentation .video-description {
  width: 38%;
  height: auto;
  background-color: var(--supplementary-color-ui-01);
  z-index: 1;
  margin: auto 0;
}
.video-presentation .video-description {
  flex-direction: column;
  padding: 60px;
  gap: 40px;
}

.video-presentation .video-description a,
.video-presentation .video-description p,
.video-presentation .video-description h3 {
  color: var(--primary-color-brand-01);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}
.video-presentation .video-description p.app-name {
  margin-bottom: 40px;
}
.video-presentation .video-description h3.video-title {
  color: var(--text-black);
  font-size: 2rem;
  text-transform: capitalize;
  margin-block: 20px;
}
.video-presentation .video-description p.video-brief {
  color: var(--text-black);
  font-size: 1rem;
  font-weight: 400;
}
.video-player iframe {
  position: absolute;
  z-index: 0;
  right: 20px;
  width: 65%;
  height: 550px;
}
@media screen and (max-width: 950px) {
  .video-presentation > div {
    flex-direction: column;
    height: auto;
  }
  .video-presentation .video-description {
    width: 100%;
    height: auto;
  }
  .video-player iframe {
    position: static;
    width: 100%;
    height: 80vw;
  }
}
