.who-we-are > div {
  position: relative;
  display: flex;
  position: relative;
  height: 130px;
  margin-top: 40px;
}
.who-we-are .title {
  width: 160px;
  text-transform: capitalize;
  border-right: 2px solid var(--supplementary-color-ui-01);
  display: flex;
  justify-content: center;
  align-items: center;
}
.who-we-are .title h2 {
  margin-right: 20px;
}
.who-we-are .description {
  width: 60%;
  max-width: 750px;
  margin-left: 20px;
}
.who-we-are .description p {
  margin-inline: 20px;
  font-size: 1.1rem;
}
.who-we-are .side-info {
  background-image: url("./../assets/images/others/fireHand.png");
  background-repeat: no-repeat;
  background-size: 150px;
  background-origin: border-box;
  background-position: right bottom;
  position: absolute;
  z-index: 0;
  top: -110px;
  right: 0;
  width: 24%;
  max-width: 300px;
  background-color: var(--primary-color-brand-03);
  color: var(--text-inverse);
}
.who-we-are .side-info p {
  padding: 30px 25px;
  margin: 0;
  font-size: 1.35rem;
  font-weight: 300;
}
.who-we-are .side-info button {
  background-color: transparent;
  color: var(--text-inverse);
  padding: 0 25px 30px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  border: 0;
  cursor: pointer;
}
