.home-article {
  display: flex;
  font-family: "Helvetica Neue Medium";
  font-size: 16pt;
  gap: 15px;
  justify-content: center;
  padding-block: 30px;
  background-color: var(--supplementary-color-ui-01);
}
.home-article a,
.home-article a:visited,
.home-article a:hover {
  color: var(--text-black);
  font-family: "Helvetica Neue Bold";
}
.home-article p {
  margin: 0;
}
.nav {
  margin: 0;
  padding-block: 20px;
  display: flex;
  justify-content: flex-end;
  margin-inline: 100px;
  gap: 50px;
  font-size: 18pt;
  font-family: "Helvetica Neue Medium";
}
